.content .item {
  display: flex;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content .item p {
  font-weight: bold;
}

.content img {
  display: flex;
  border: 2px solid #dfdfdf;
  width: 120px;
  height: 120px;
}

.content .content-info {
  margin-left: 25px;
  text-align: start;
}

.content .content-info .pricing {
  line-height: 20%;
}

.content .content-info .name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .content-info .price {
  color: #a5a5a5;
  font-size: 1rem;
}

.content .content-info .selling-price {
  /* line-height: 0px; */
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .content .item {
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content .item p {
    font-weight: bold;
  }

  .content img {
    display: flex;
    border: 2px solid #dfdfdf;
    height: 80px;
    width: 80px;
  }

  .content .content-info {
    margin-left: 10px;

    /* background-color: red; */
    font-size: 1rem;
    max-height: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content .content-info .name {
    margin: 0;
  }

  .content .content-info .selling-price {
    /* line-height: 0px; */
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .content .item {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .content img {
    display: flex;
    border: 2px solid #dfdfdf;
    height: 75px;
    width: 75px;
  }

  .content .content-info {
    margin-left: 10px;
    padding: 0;
    width: 60%;
    font-size: 1rem;
    max-height: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content .content-info .pricing {
    line-height: 0;
    font-size: 0.2rem;
    text-overflow: ellipsis;
  }

  .content .content-info .price {
    font-size: 0.77rem;
    text-overflow: ellipsis;
  }

  .content .content-info .name {
  }

  .content .content-info .selling-price {
    /* line-height: 0px; */
    /* font-size: 0.8rem; */
    font-size: 1.1rem;
    text-overflow: ellipsis;
  }
}
